@model IEnumerable<AMflix.Models.Movies>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="FilterByName">
    <input type="text" id="name" name="name" />
    <button type="submit">Filter</button>
</form>

<form asp-action="Index">
    <button type="submit">Reset Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealeaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealeaseDate)
            </td>
            <td>
                @* Creates a button to leave a review *@
                <a asp-controller="MovieReviews" asp-action="Create" asp-route-movieReviewId="@item.Id">Review</a>
                @* Creates a button to leave a review *@
                <a asp-controller="MovieRatings" asp-action="Create" asp-route-movieRatingId="@item.Id">Rate</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="SortByAgeRating" asp-route-ascending="true">Sort by age rating (Acending)</a>
<a asp-action="SortByAgeRating" asp-route-ascending="false">Sort by age rating (Decending)</a>

